.slider-container{
    height: 600px;
    background-color: #1564BF;
    color: #fff;
    width:80%;
    margin-left:190px;
    
}
.slider-container-inner{
    margin: auto;
    width: 80%;
    display: flex;
   flex-wrap: wrap;height: 90%;
   align-items: center;background-color: white;
} 
.slidercard-container{
    height:80%;margin-left:20px;
}  
.product-price1{
    color:#1564BF !important;
}
.title{
    color:#1564BF
}
.img{
    height:300px;
}